ABISite/Web References/griffin/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://griffin:10000/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ABIModel" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaborateur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCollabo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollaborateurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ABIModel" minOccurs="0" name="GetCollaborateurResult" nillable="true" type="q1:Collaborateur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>