ABICommercialProject/Service References/ABIService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ABIModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ABIModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Collaborateur">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FonctionCollabo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Statut" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Collaborateur" nillable="true" type="tns:Collaborateur" />
  <xs:complexType name="ArrayOfCollaborateur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Collaborateur" nillable="true" type="tns:Collaborateur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCollaborateur" nillable="true" type="tns:ArrayOfCollaborateur" />
</xs:schema>